.Register {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #a05e5e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Register h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Register input,
  .Register button {
    margin-bottom: 10px;
  }
  
  .Register button {
    width: 100%;
  }
  
 
  
 